@import "tailwindcss";

* {
  border-color: #262626;
}

body {
  background-color: #000000;
  color: #fafafa;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
